node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
client/node_modules/**/*
client/.expo/*
client/.expo-shared/*
*.log
.secret

# macOS
.DS_Store